{% extends "base.html" %}
<h1>{% block title%} Новый заказ {% endblock %}</h1>

    {% block content %}
         <form method="post">
            {% csrf_token %}

            <h1 class="display-1">Новый заказ</h1>
         <div class="container col-xl-1 col-xxl-4 px-1 py-5">
                <p>
                        <div class="mb-3">
                            <select name="products" class="form-select" required aria-label="Выберите предмет...">
                              <option selected>Откройте меню</option>
                                {% for prod in product %}
                                    <option name="" value="{{ prod.id }}">{{ prod.name }}</option>
                                 {% endfor %}
                            </select>
                            <div class="invalid-feedback">Example invalid select feedback</div>
                        </div>
                </p>
                <p>
                    <div class="form-group">
                        <input id="count" type="number" name="count" aria-describedby="invalid-title"
                            placeholder="Количество..." class="form-control " required
                                value="{{ order.count }}">
                    </div>
                </p>

                <input class="btn btn-primary me-md-2" type="submit" value="Сохранить" >
         </div>
         </form>

{% endblock content %}


